<!DOCTYPE html>
<html lang="es">
<head th:replace="layout/plantilla::head"></head>
<header th:replace="layout/plantilla::header-admin"></header>
<body>
<section>
    <div class="container text-center">
        <h1 class="container admin">[[#{pagina.admin}]]</h1>
        <h6 class="new" >[[#{auto.nuevo}]]</h6>
        <a th:href="@{/admin/nuevos/new}" class="btn btn-primary add">[[#{boton.nuevo}]] <i class="fa-solid fa-circle-plus"></i></a>
    </div>
    <article class="container" th:each="item : ${nuevos}">
        <div class="card" style="width: 18rem;">
            <img th:src="@{'/img/'+${item.image}}" class="card-img-top">
            <div class="card-body">
                <h5 th:text="${item.brand}" class="card-title"></h5>
                <p th:text="${item.description}" class="card-text"></p>
                <a href="#" class="btn btn-primary">[[#{boton.ver}]]  <i class="fa-solid fa-eye"></i></a>
                <a th:href="@{/admin/nuevos/edit/} + ${item.idAuto}" class="btn btn-primary edit">[[#{boton.editar}]] <i class="fa-solid fa-pen-to-square"></i></a>
                <a th:href="@{/admin/nuevos/delete/} + ${item.idAuto}" class="btn btn-danger delete">[[#{boton.eliminar}]]</a>
            </div>
        </div>
    </article>

</section>
    
</body>
<footer th:replace="layout/plantilla::footer"></footer>
</html>