<!DOCTYPE html>

<html lang="en">

<head th:replace="layout/plantilla::head"> </head>
<header th:replace="layout/plantilla::headerindex"></header>

<body>
    <main class="container">
        <br />
        <br />
        <div class="row mb-2">
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">[[#{contacto.fundador}]]</strong>
                        <h3 class="mb-0">Jose Andres Vargas Vargas</h3>
                        <br />
                        <p class="card-text mb-auto">[[#{contacto.carrera}]]</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <img src="../img/andres.jpg" class="img-fluid rounded-top card-img"
                                style="height: 13rem; width: 13rem; margin-top: 20px; margin-right: 10px; ">
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">[[#{contacto.cofundador}]]</strong>
                        <h3 class="mb-0">Daniel Díaz Chong</h3>
                        <br />
                        <p class="mb-auto">[[#{contacto.carrera}]]</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <img src="../img/chong.jpg" class="img-fluid rounded-top card-img"
                                style="height: 13rem; width: 13rem; margin-top: 20px; margin-right: 10px; ">
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">[[#{contacto.acercaNosotros}]]</h3>
                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">[[#{contacto.historia}]]</h2>
                    <p class="blog-post-meta">[[#{contacto.segundoCuatri}]]</p>

                    <p>[[#{contacto.historiaTexto1}]]</p>
                    <hr>
                    <p>[[#{contacto.historiaTexto2}]]</p>
                    <h2>[[#{contacto.proposito}]]</h2>
                    <p>[[#{contacto.propositoTexto}]]</p>
                    <h3>[[#{contacto.herramientas}]]</h3>
                    <p>[[#{contacto.herramientasTexto}]]</p>
                    <dl>
                        <dt>HyperText Markup Language (HTML)</dt>
                        <dd>[[#{contacto.herramientasHTML}]]</dd>
                        <dt>Cascading Style Sheets (CSS)</dt>
                        <dd>[[#{contacto.herramientasCSS}]]</dd>
                        <dt>Java</dt>
                        <dd>[[#{contacto.herramientasJava}]]</dd>
                        <dt>My Structured Query Language(MySQL)</dt>
                        <dd>[[#{contacto.herramientasMySQL}]]</dd>
                </article>

            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">[[#{contacto.acercaSLCR}]]</h4>
                        <p class="mb-0">[[#{contacto.acercaSLCRTexto}]]</p>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">[[#{contacto.Info}]]</h4>
                        <ol class="list-unstyled mb-0">
                            <li>[[#{contacto.fundador}]]: José A. Vargas Vargas</li>
                            <li>[[#{contacto.correo}]]: <a href="#">joseavv@gmail.com</a></li>
                            <li>[[#{contacto.telf}]]: <a>8899-7766</a></li>
                            <li>[[#{contacto.cofundador}]]: Daniel J. Díaz Chong</li>
                            <li>[[#{contacto.correo}]]: <a href="#">danielch@gmail.com</a></li>
                            <li>[[#{contacto.telf}]]: <a>8989-4565</a></li>
                            <li>Solo llantas Costa Rica</li>
                            <li>[[#{contacto.correo}]]: <a href="#">solollantascr@gmail.com</a></li>
                            <li>[[#{contacto.telf}]]: <a>7894-3654</a></li>
                            <li>[[#{contacto.ubi}]]: <a href="#">LaGuacima/googlemaps.com</a></li>
                        </ol>
                    </div>
                    <div class="p-4">
                        <h4 class="italic">[[#{contacto.redes}]]</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="layout/plantilla::footer"></footer>
</body>

</html>