<!DOCTYPE html>

<html lang="en">
<head th:replace="layout/plantilla::head"> </head>
<header th:replace="layout/plantilla::headerindex"></header>
<body>
    <main class="container">
        <br/>
        <br/>
        <div class="row mb-2">
            <div class="col-md-6">
                <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-primary">Fundador</strong>
                        <h3 class="mb-0">Jose Vargas Vargas</h3>
                        <br />
                        <p class="card-text mb-auto">Estudiante de Ingenería en Sistemas de Computación en la Universidad.</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Foto</text>
                        </svg>

                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div
                    class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                    <div class="col p-4 d-flex flex-column position-static">
                        <strong class="d-inline-block mb-2 text-success">Cofundador</strong>
                        <h3 class="mb-0">Daniel Díaz Chong</h3>
                        <br />
                        <p class="mb-auto">Estudiante de Ingenería en Sistemas de Computación en la Universidad.</p>
                    </div>
                    <div class="col-auto d-none d-lg-block">
                        <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg"
                            role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice"
                            focusable="false">
                            <rect width="100%" height="100%" fill="#55595c" /><text x="50%" y="50%" fill="#eceeef"
                                dy=".3em">Foto</text>
                        </svg>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <div class="col-md-8">
                <h3 class="pb-4 mb-4 fst-italic border-bottom">Acerca Nosotros</h3>

                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">Historia</h2>
                    <p class="blog-post-meta">II Cuatrimestre del 2022</p>

                    <p>Esta página es el proyecto de Desarrollo de Aplicaciones Web y Patrones que se empezó a trabajar desde el comienzo de este cuatrismestre con el profesor Don Wilberth Molina Perez.</p>
                    <hr>
                    <p>Esta página trata de no solo ser un proyecto que realizar. Solo Llantas CR tiene como objetivo ser una de las mejores, 
                        o sino la mejor página Web relacionada con todo lo que tenga que ver con vehículos en Costa Rica.</p>
                    <h2>Proposito</h2>
                    <p>Se desea ingresar al mundo real, ser competencia hacía las demas páginas de Costa Rica. El proposito
                        es ayudar a los usuarios con necesidades relacionadas con sus vehículos o motocicletas,
                        si el cliente desea vender su vehiculo, alquilar un vehiculo por determinado tiempo, 
                        comprar un vehiculo usado entre otras cosas, Solo Llantas CR le proporciona esas posibilidades a los usuarios.
                    </p>
                    <h3>Herramientas Utilizadas</h3>
                    <p>A continuación se mostrar algunas de las herramientas que se utilizaron para el desarrollo de Solo Llantas CR:</p> 
                    <dl>
                        <dt>HyperText Markup Language (HTML)</dt>
                        <dd>Es el código que se utiliza para estructurar y desplegar una página web y sus contenidos.</dd>
                        <dt>Cascading Style Sheets (CSS)</dt>
                        <dd>Es un lenguaje que maneja el diseño y presentación de las páginas web.</dd>
                        <dt>Java</dt>
                        <dd>Es una plataforma informática de lenguaje de programación.</dd>
                        <dt>My Structured Query Language(MySQL)</dt>
                        <dd>Este permite almacenar y acceder a los datos a través de múltiples motores de almacenamiento.</dd>
                    </dl>
                    <h2>Heading</h2>
                    <p> --- </p>
                </article>

                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">Blog</h2>
                    <p class="blog-post-meta">II Cuatrimestre del 2022</p>

                    <p> --- </p>
                    <p> --- </p>
                </article>
            </div>

            <div class="col-md-4">
                <div class="position-sticky" style="top: 2rem;">
                    <div class="p-4 mb-3 bg-light rounded">
                        <h4 class="fst-italic">Acerca de Solo Llantas CR</h4>
                        <p class="mb-0">Es el mejor lugar para poder vender y comprar su vehiculo y su motocicleta,
                            ademas de brindar una ayuda a los usuarios con darles info sobre los talleres mas
                            cercanos.</p>
                    </div>
                    <div class="p-4">
                        <h4 class="fst-italic">Info Contacto</h4>
                        <ol class="list-unstyled mb-0">
                            <li>Fundador: José A. Vargas Vargas</li>
                            <li>Correo: <a href="#">joseavv@gmail.com</a></li>
                            <li>Telf: <a>8899-7766</a></li>
                            <li>Cofundadror: Daniel J. Díaz Chong</li>
                            <li>Correo: <a href="#">danielch@gmail.com</a></li>
                            <li>Telf: <a>8989-4565</a></li>
                            <li>Solo llantas Costa Rica</li>
                            <li>Correo: <a href="#">solollantascr@gmail.com</a></li>
                            <li>Telf: <a>7894-3654</a></li>
                            <li>Ubicación: <a href="#">LaGuacima/googlemaps.com</a></li>
                        </ol>
                    </div>
                    <div class="p-4">
                        <h4 class="italic">Siguenos en nuestras redes sociales</h4>
                        <ol class="list-unstyled">
                            <li><a href="#">Twitter</a></li>
                            <li><a href="#">Facebook</a></li>
                            <li><a href="#">Instagram</a></li>
                        </ol>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer th:replace="layout/plantilla::footer"></footer>
</body>
</html>