<!DOCTYPE html>
<html lang="es">

<head th:replace="layout/plantilla::head"></head>
<header th:replace="layout/plantilla::headerindex"></header>

<body>

    <main class="container py-5">
        <h1>Talleres Asociados</h1>
        <h5>Estos son talleres cerca de nosotros que podrían ser de tu interes.</h5>
        <hr class="my-5">
        <div class="row" data-masonry='{"percentPosition": true }'>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <article class="bd-placeholder-img card-img-top" width="100%" height="200">
                        <iframe
                            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.4750620431105!2d-84.22311637304689!3d9.927813900000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0fedae3d7fdb3%3A0xd04fa7541d277dfe!2sTaller%20Mec%C3%A1nico%20Automotriz%20Aguilar!5e1!3m2!1sen!2scr!4v1660017665039!5m2!1sen!2scr"
                            width="100%" height="100%" fill="#868e96" style="border:0;" allowfullscreen=""
                            referrerpolicy="no-referrer-when-downgrade">
                        </iframe>
                    </article>
                    <div class="card-body">
                        <h5 class="card-title">Taller Mécanico Automotriz Aguilar</h5>
                        <p class="card-text">Piedades 100m Oeste y 25m Norte del Bar la Parada San José Santa Ana 214,
                            6100</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.0767534682404!2d-84.25323687304689!3d9.9678595!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f894cd000001%3A0xd31241d6fde4d8d0!2sTaller%20Gatazo!5e1!3m2!1sen!2scr!4v1660017716971!5m2!1sen!2scr"
                        width="100%" height="100%" fill="#868e96" style="border:0;" allowfullscreen=""
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                    <div class="card-body">
                        <h5 class="card-title">Taller Gatazo</h5>
                        <p class="card-text">XQ92+49R de, Urbanizacion La Amistad, Provincia de Alajuela, Guácima</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.1509213608933!2d-84.2584434730469!3d9.960414799999995!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f8bc20c4b279%3A0x5a06a996e69c6d6c!2sTaller%20Nano!5e1!3m2!1sen!2scr!4v1660017748469!5m2!1sen!2scr"
                        width="100%" height="100%" fill="#868e96" style="border:0;" allowfullscreen=""
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                    <div class="card-body">
                        <h5 class="card-title">Taller Nano</h5>
                        <p class="card-text">XP6W+577, Provincia de Alajuela, Guácima.</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.036531820984!2d-84.24837057304687!3d9.971894500000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f9dd470e6605%3A0x9b308c866cd3241a!2sTaller%20de%20repuestos%20davidson!5e1!3m2!1sen!2scr!4v1660017777387!5m2!1sen!2scr"
                        width="100%" height="100%" fill="#868e96" style="border:0;" allowfullscreen=""
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                    <div class="card-body">
                        <h5 class="card-title">Taller de Repuestos Davidson</h5>
                        <p class="card-text">XQC4+Q75, Guacima Arriba, Provincia de Alajuela, Guácima</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <iframe
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3249.099523636335!2d-84.24518947304686!3d9.965574499999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f9d97561091f%3A0x155c62adae34aee9!2sTaller%20el%20Moreno!5e1!3m2!1sen!2scr!4v1660017812338!5m2!1sen!2scr"
                        width="100%" height="100%" fill="#868e96" style="border:0;" allowfullscreen=""
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                    <div class="card-body">
                        <h5 class="card-title">Taller El Moreno</h5>
                        <p class="card-text">XQ85+6HF, C. Hermanos Vargas, Guacima Arriba, Provincia de Alajuela,
                            Guácima</p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-4 mb-4">
                <div class="card">
                    <iframe
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3248.740243763771!2d-84.22654317304688!3d10.001568200000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8fa0f98be95bb207%3A0xd1aa1920b7e7dce8!2sTaller%20de%20Motos%20y%20Soldadura%20Gonz%C3%A1lez!5e1!3m2!1sen!2scr!4v1660017841045!5m2!1sen!2scr"    
                    width="100%" height="100%" fill="#868e96" style="border:0;" allowfullscreen=""
                        referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                    <div class="card-body">
                        <h5 class="card-title">Taller de Motos y Soldadura González</h5>
                        <p class="card-text">2Q2H+J2G, Calle Los Pinos, Guacima Arriba, Alajuela Province, Guácima</p>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>
<footer th:replace="layout/plantilla::footer"></footer>

</html>