.navbar-brand {
    font-size: 50px;
    font-family: 'Cedarville Cursive', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Permanent Marker', cursive;
    font-family: 'Shadows Into Light', cursive;
}